<div class="row mt-2">
  <div class="col">
    <h2>Name: {{ country.name }}</h2>
    <p>Region : {{ country.region }}</p>
    <p>Capital: {{ country.capital }}</p>
    <p>Population: {{ country.population }}</p>
  </div>
</div>
