<div class="row mt-4">
  <div class="col-4">
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let country of countries"
        class="list-group-item list-group-item-action"
        [routerLink]="['/country/', country.alpha3Code]"
        routerLinkActive="active"
      >{{ country.name }}</a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
</div>

